/**
INDEX SCREEN - START
 */
html {
    height: 100vh;
}
body {
    height: 100%;
}
.app-title {
    font-size: 11rem;
}
.app-btn-bloc {
    font-size: 2.5rem;
    width: 350px;
    padding: 20px;
    margin: 10px;
}
.app-action-row {
}
.form-app-index {
    padding: 30px;
}
.input-app-index {
    font-size: 3rem;
}
.btn-app-index {
    font-size: 2rem;
}
.app-index-label {
    font-size: 2rem;
}
.btn-nav {
    width: 130px;
    font-size: 1rem;
}
/**
INDEX SCREEN - END
 */

/**
FORM SCREEN - START
 */
.sku-form {
    width: 100%;
}
.sku-form-input {
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.sku-bloc {
    position: relative;
    margin: 30px 0;
}
.sku-bloc input {
    height: 50px;
    padding: 20px;
}
.option-control {
    height: 170px;
}
.sku-fields-bloc {
    display: none;
}
.sku-fields-bloc.active {
    display: block;
}
.field-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-field {
    position: absolute;
    top: 5px;
    left: 5px;
}
.help-text {
    font-size: 13px;
}
.btn-sku-remove {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    width: 50px;
}
.btn-folder {
    width: 150px;
}
/**
FORM SCREEN - END
 */