/**
INDEX SCREEN - START
 */
html {
    height: 100vh;
}
body {
    height: 100%;
}
.app-title {
    font-size: 11rem;
}
.app-btn-bloc {
    font-size: 2.5rem;
    width: 350px;
    padding: 20px;
    margin: 10px;
}
.app-action-row {
}
.form-app-index {
    padding: 30px;
}
.input-app-index {
    font-size: 3rem;
}
.btn-app-index {
    font-size: 2rem;
}
.app-index-label {
    font-size: 2rem;
}
/**
INDEX SCREEN - END
 */