{% extends 'base.html.twig' %}

{% block title %}Folder{% endblock %}

{% block body %}
    <h1 style="font-size: 5rem; position: absolute; top: 5%; left: 50%; transform: translate(-50%, -50%)">Administrer listes</h1>

    <a href="{{ path('folder_index') }}" class="btn btn-primary" style="font-size: 1.5rem; position: absolute; top: 5%; left: 10%; transform: translate(-50%, -50%)">Accueil</a>

{% endblock %}
